<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adasplus.onvif">

    <!--以下只是为了ndk-build使用-->
    <!--如果我们不加以下这句话时，根据ndk-build的版本不同，出现的问题不一样，对于旧版本的ndk-build,如果不加以下这句话，
        就直接编译错误了，
        对于新版本的ndk-build,就会报以下的警告信息:
        Android NDK: WARNING: APP_PLATFORM android-21 is higher than android:minSdkVersion 1 in
        /media/guoshichao/04167E5E167E50A2/a_simple_coll/android_onvif_example/spydroid-ipcamera/app/src/main/AndroidManifest.xml.
        NDK binaries will *not* be compatible with devices older than android-21. See
        https://android.googlesource.com/platform/ndk/+/master/docs/user/common_problems.md for more information.-->
    <!--<uses-sdk android:minSdkVersion="21" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name="com.adasplus.onvif.OnvifService"
            android:exported="true" />

        <service android:name="com.adasplus.onvif.http.TinyHttpServer" />

    </application>

</manifest>